{% extends "layout.html" %}

{% block content %}
  <h2>Library Home</h2>
  <p>This project was built around the topics covered in <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website">MDN's server side development tutorial</a>.</p>
  <p>This web application may not be particularly original (or pretty!), but was important in furthering my understanding of several key features of Django, including:</p>
  <ul>
    <li>ORMs</li>
    <li>Django Admin customisation</li>
    <li>Class based and function based views</li>
    <li>Django forms</li>
    <li>User authorisations and sessions</li>
    <li>Unit testing</li>
    <li>Security</li>
    <li>Deployment config</li>
  </ul>
  <h3>Dynamic content</h3>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

  {% if num_visits > 0 %}
  <small class="text-muted">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</small>
  {% endif %}
{% endblock %}