{% extends "layout.html" %}
{% load markdown_extras %}
{% load static %}

{% block content %}

  <h2>{{ intro.title }}</h2>
  <div>
    {{ intro.body | markdown | safe }}
  </div>

  <div>
    <hr />
    <p>Have a browse around!</p>
    <p>Books, authors and book statuses are viewable without a login - authentications ensure that only 'librarians' 
      have access to create, edit, update and renew books/authors:</p>
      <div class="row w-auto mx-4 justify-content-start">
        <div class="col-lg-5">
          <img src="{% static 'images/book_view.png' %}" class="img-fluid">
        </div>
        <div class="col-lg-5">
          <img src="{% static 'images/on_loan.png' %}" class="img-fluid">
        </div>
      </div>
  <hr />
  <h3>Dynamic content</h3>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

  {% if num_visits > 0 %}
  <small class="text-muted">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %} in this session.</small>
  {% endif %}
{% endblock %}