{% extends "layout.html" %}

{% block content %}
  <h2>{{ author.first_name }} {{ author.last_name }}</h2>
  <p class="text-muted">{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% else %}present{% endif %}</p>
  {% if perms.catalog.can_edit_authors %}
  <p><a class="btn-edit" href="{% url 'author_update' author.id %}">edit author?</a> // 
  <a class="btn-delete" href="{% url 'author_delete' author.id %}">delete author?</a></p>
  {% endif %}
  <p><a href="{% url 'authors' %}">&lt;&lt; back to all</a></p>
  <hr>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Titles</h4>

    {% for book in author.book_set.all %}
      <hr>
      <p><a href="{{ book.get_absolute_url }}">
        {{ book.title }}
      </a>({{book.bookinstance_set.count}})</p>
      <p>{{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}